table{width:80%;margin:auto;border-collapse:collapse;text-align:center;}
th,td{border:1px solid black;padding:12px;}
th{background:#1565c0;color:white;}
tr:nth-child(even){background:#e3f2fd;}table{
width:80%;
margin:auto;
border-collapse:collapse;
text-align:center;
}

th,td{
border:1px solid black;
padding:12px;
}

th{
background:#1565c0;
color:white;
}

tr:nth-child(even){
background:#e3f2fd;
}