/* ==========================
   Header Styles
========================== */

h2{
    color: blue;
}

/* ==========================
   Paragraph Styles
========================== */

p{
    font-size:18px;
    color:#333;
}